<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monsters</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <ul>
            <% for(let i = 0; i < monsters.length; i++){ %>
                <li>
                    <a href="/monsters/<%=i%>">
                            <%=monsters[i].name%>
                    </a>
                </li>
                <form method="POST" action="/monsters/<%=i%>?_method=DELETE">
                    <button type="submit">Delete</button>
                </form>
                <form method="PUT" action="/monsters/<%=i%>/edit?_method=PUT">
                    <button type="submit">Edit</button>
                </form>
            <% } %>
        </ul>
    </div>
</body>
</html>